body {
	background: rgb(201, 211, 198);
	font-size: 30px;
}
.center {
	text-align: center;
}

.big_name {
	font-size: 180px;
}

table {
	margin: 30px 30px;
}

tr {
	padding: 0px 0px 15px;
	/*上　左右　下*/
	border-radius: 3px;
}

td.keys {
	padding: 5px 10px 5px;
	/*上　左右　下*/
	border-radius: 3px;
	text-align: right;
}



td.cell {
	margin-left: 5px;
	margin-right: 5px;
	padding: 5px 10px 5px;
	border-radius: 3px;
	letter-spacing:2px;
	font-weight: bolder;
}

ul.line_up {
	list-style-type: none;/*リストの先頭マークを非表示にする*/
	display:flex;
  flex-wrap: nowrap;

}

li{
	padding: 10px;
}


.border_line {
	border: 1px solid rgb(133, 172, 124);

}

input[type='text'] {
	font-size: 110%;
	box-sizing: border-box;
	letter-spacing: 1px;
	color: #2e312e;
	margin-bottom: 7px;
	border: none;
	background: rgb(218, 230, 215);
	border-radius: 3px;
	/*border-bottom: 2px solid rgb(158, 192, 151);*/
	/*background: transparent;*/
	/*transition: 0.5s;*/
}

input:hover {
	background-color: rgb(170, 202, 162);
}

.menu_line:hover {
	background-color: rgba(255, 129, 79, 0.39);
}

.static_table_line:hover {
	background-color: rgb(177, 189, 173);
}

.copy_target:hover {
	cursor: copy;
	background-color: rgb(175, 214, 163);
}

.copy_target:active {
	background-color: rgba(255, 165, 130, 0.575);
}

.ef input[type='text']:focus {
	background-color: rgba(199, 93, 67, 0.445);
	outline: none;
	/*color:rgb(255, 255, 255);*/
	/*border-bottom: 2px solid rgb(199, 93, 67);*/
}

/*
input.with_menu[type='text']{
	width: 70%;
}
*/

input.head_less[type='text'] {
	width: 60%;
}


textarea {
	width: 200px;
	height: 100px;

	color: #2e312e;
	background: rgb(218, 230, 215);
	border-radius: 3px;
	border: 1px solid rgb(154, 173, 149);
}

textarea:focus {
	border-color: rgb(94, 128, 86);
	outline: none;
}

.right {
	text-align: right;
}


.fade_in {
	animation: fadeInRight 1.2s ease 0s 1 normal;
}

/* fadeInRight */
@keyframes fadeInRight {
	0% {
		opacity: 0;
		transform: translateX(30px);
	}
	100% {
		opacity: 1;
	}
}

.done_wirte_message {
	color: rgb(79, 121, 69);
}
button.size {
	font-size: 18px;
}
button.remove_column {
  display: inline-block;
	background-color: rgba(255, 228, 217, 0.781);
	width: 23px;
	height: 23px;
  text-align: center;
	border-radius: 50%;
	border:none;
	font-size: small;
	font-weight: bold;
}

.error_message{
	font-size: 18px;
	color:rgb(234, 0, 255);
}

.bottom_height{
	height: 150px;
}